<dl class="author">
	<dt ng-show="loaded">本周推荐</dt>
	<dd ng-repeat="great in greats">
		<div class="avatar">
			<img src="{{great.avatar}}" alt="" class="author_pic">
		</div>
		<div class="info">
			<h5>{{great.name}}</h5>
			<p>{{great.editor_notes}}</p>
		</div>
	</dd>
	<dt ng-show="loaded">热门作者</dt>
	<dd ng-repeat="all in alls">
		<div class="avatar" class="author_pic">
			<img src="{{all.avatar}}" alt="" class="author_pic">
		</div>
		<div class="info">
			<h5>{{all.name}}</h5>
			<p>{{all.editor_notes}}</p>
		</div>
	</dd>
</dl>
