<div class="mark">{{today|date:"ddMMM"}}</div>
<ul class="posts large">
    <!-- 文章 -->
    <li ng-repeat="data in datas">
        <span href="javascript:;" class="tag" ng-if="data.column.name">{{data.column.name}}</span>
        <div class="cont">
            <h3>{{data.title}}</h3>
            <div class="brief">
                <p ng-class="{only:data.display_style==10001}" ng-if="data.display_style!=10003">{{data.abstract}}</p>
                <div ng-class="{thumb:data.display_style==10002,gallery:data.display_style==10003}">
					<img src="{{data.photos[0].small.url}}" alt="">
				</div>
            </div>
        </div>
    </li>
</ul>
